{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the Dreamforce 2016 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  http://sfdcworkshop.com/workshop/rapid-prototyping-with-slds/
-->

<!--
  Here's picture you can put into your content.
  Feel free to let your creativity go wild and change this image to your taste!
-->
<!-- <img src="/assets/workshop-salesforce-red.jpg" alt="" class="slds-size--2-of-3 slds-m-bottom--large" /> -->

<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/#flavor-record-home -->

<!-- /PAGE HEADER -->

<!-- WIZARD: https://www.lightningdesignsystem.com/components/process/#flavor-wizard -->

<!-- /WIZARD -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/components/utilities/grid/#flavor-manual-sizing -->
<div class="slds-m-around--small">

  <div>Welcome to our wireframes!</div>
  </br>

  <div>
    <ul>
      <li class="slds-text-title--caps">Address Validation & Propagation</li>
      <li>
        <ul class="slds-is-nested">
          <li><a href="/addVal/newParty.html">Add Party</a></li>
          <li><a href="/addVal/editPartyAddress-Res.html">Propagate Residence Address</a></li>
          <li><a href="/addVal/editPartyAddress-Mail.html">Propagate Mailing Address</a></li>
          <li><a href="/addVal/editPartyAddress-Pend.html">Propagate Pending Address</a></li>
          <li>
            <ul class="slds-is-nested">
              <li><a href="/testAddVal/newAddr-0.html">(Archived) Test Workflow</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>

</div>
<!-- /COLUMNS -->

{% endblock %}
