<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}

<div class="slds-docked_container">
  <div class="slds-docked-composer slds-grid slds-grid--vertical slds-is-open" role="dialog" aria-labelledby="panel-heading-01" style="height: 370px;">
    <div class="slds-docked-composer__header slds-grid slds-shrink-none">
      <div class="slds-media slds-media--center">
        <div class="slds-media__figure slds-m-right--x-small">
          <span class="slds-icon_container">
            <svg class="slds-icon slds-icon--small slds-icon-text-default" aria-hidden="true">
              <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom78"></use>
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <h2 id="panel-heading-01">New Address</h2>
        </div>
      </div>
      <div class="slds-col--bump-left">
        <button class="slds-button slds-button--icon" title="Minimize window">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#minimize_window"></use>
          </svg>
          <span class="slds-assistive-text">Minimize Composer Panel</span>
        </button>
        <button class="slds-button slds-button--icon" title="Expand Composer">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#expand_alt"></use>
          </svg>
          <span class="slds-assistive-text">Expand Composer Panel</span>
        </button>
        <button class="slds-button slds-button--icon" title="Close">
          <svg class="slds-button__icon" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Close Composer Panel</span>
        </button>
      </div>
    </div>
    <div class="slds-docked-composer__body slds-docked-composer__body--form">
      <fieldset class="slds-form--compound">
        <div class="slds-form-element__group">
          <div class="slds-form-element__row">
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="addrLine1">
                <span class="slds-required" title="required">*</span>Address Line 1
              </label>
              <input type="text" id="addrLine1" class="slds-input" required=""/>
            </div>
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="addrLine2">
                Address Line 2
              </label>
              <input type="text" id="addrLine2" class="slds-input" required=""/>
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="input-04">
                <span class="slds-required" title="required">*</span>City
              </label>
              <input type="text" id="input-04" class="slds-input" required=""/>
            </div>
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="input-06">
                <span class="slds-required" title="required">*</span>ZIP/Postal Code
              </label>
              <input type="text" id="input-06" class="slds-input" />
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="select-01">
                <span class="slds-required" title="required">*</span>Country
              </label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select id="select-01" class="slds-select">
                    <option>--None--</option>
                    <option selected="">USA</option>
                    <option>Canada</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="select-02">
                <span class="slds-required" title="required">*</span>State/Province
              </label>
              <div class="slds-form-element__control">
                <div class="slds-select_container">
                  <select id="select-02" class="slds-select">
                    <option selected="">--None--</option>
                    <option>Alabama</option>
                    <option>Massachusetts</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="slds-form-element__row">
            <div class="slds-form-element slds-size--1-of-2">
              <label class="slds-form-element__label" for="checkbox-146">
                P.O. Box?
              </label>
              <div class="slds-form-element__icon">
                <a href="javascript:void(0);">
                  <svg class="slds-icon slds-icon--x-small slds-icon-text-default" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#info"></use>
                  </svg>
                  <span class="slds-assistive-text">Help</span>
                </a>
              </div>
              <div class="slds-form-element__control">
                <label class="slds-checkbox">
                  <input type="checkbox" name="default" id="checkbox-146" />
                  <span class="slds-checkbox--faux"></span>
                </label>
              </div>
            </div>
            <div class="slds-form-element slds-size--1-of-2">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <footer class="slds-docked-composer__footer slds-shrink-none">
      <div class="slds-col--bump-left slds-text-align--right">
        <a href="/addVal/newAddr-2.html" class="slds-button slds-button--brand">Validate</a>
      </div>
    </footer>
  </div>
</div>

{% endblock %}