<!--
  Templates leverage Nunjucks, a powerful templating language:
  https://mozilla.github.io/nunjucks/

  # Don't want to use Nunjucks?
    It is entirely optional. Feel free to use normal HTML instead!
-->

<!--
  Extend the global template
-->
{% extends "_template.html" %}

<!--
  Page content (gets injected into the template)
-->
{% block content %}
<div class="slds-page-header">
  <div class="slds-grid">
    <div class="slds-col slds-has-flexi-truncate">
      <div class="slds-media slds-no-space slds-grow">
        <div class="slds-media__figure">
          <svg class="slds-icon slds-icon-standard-contact" aria-hidden="true">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#contact"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <p class="slds-text-title--caps slds-line-height--reset">Party Address</p>
          <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="this should match the Record Title">Party Address #0123</h1>
        </div>
      </div>
    </div>
    <div class="slds-col slds-no-flex slds-grid slds-align-top">
      <div class="slds-button-group" role="group">
        <button class="slds-button slds-button--neutral">Propagate</button>
        <button class="slds-button slds-button--neutral">Clone</button>
        <button class="slds-button slds-button--neutral">Edit</button>
        <button class="slds-button slds-button--neutral">Delete</button>
        <div class="slds-dropdown-trigger slds-dropdown-trigger--click slds-button--last" aria-expanded="false">
          <button class="slds-button slds-button--icon-border-filled" aria-haspopup="true" title="More Actions">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
            </svg>
            <span class="slds-assistive-text">More Actions</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ul class="slds-grid slds-page-header__detail-row">
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 1">Party</p>
      <p class="slds-text-body--regular slds-truncate" title=""><a href="javascript:void(0);">Jon Snow</a></p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 1">Address</p>
      <p class="slds-text-body--regular slds-truncate" title="">316 Stuart Street, Suite 300, Boston, MA 02116</p>
    </li>
    <li class="slds-page-header__detail-block">
      <p class="slds-text-title slds-truncate slds-m-bottom--xx-small" title="Field 3">Effective Date</p>
      <p class="slds-text-body--regular slds-truncate" title="">1/1/2020</p>
    </li>
  </ul>
</div>
<div role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open" aria-labelledby="header43">
  <div class="slds-modal__container">
    <div class="slds-modal__header">
      <button class="slds-button slds-modal__close slds-button--icon-inverse" title="Close">
        <svg class="slds-button__icon slds-button__icon--large" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
        </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
      <h2 id="header43" class="slds-text-heading--medium">Propagate Address</h2>
    </div>
    <div class="slds-modal__content slds-p-around--medium">
      <p>Select household members whose Pending Address will be updated with the address below:</p>
      <div class="slds-m-around--small">
        316 Stuart Street, Suite 200
        </br>Boston, MA 02116
        </br>Effective Date: 5/1/2017
      </div>
      <table class="slds-table slds-table--bordered slds-table--compact slds-table--fixed-layout">
        <thead>
          <tr class="slds-text-title--caps">
            <th scope="col" class="slds-cell-shrink slds-text-align--right">
              <span class="slds-checkbox">
                <input type="checkbox" name="options" id="checkbox-126"/>
                <label class="slds-checkbox__label" for="checkbox-126">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-form-element__label slds-assistive-text">Select All</span>
                </label>
              </span>
            </th>
            <th scope="col" style="width: 25%;">
              <div class="slds-truncate" title="Name">Name</div>
            </th>
            <th scope="col">
              <div class="slds-truncate" title="Pending Address">Pending Address</div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="slds-is-selected">
            <td role="gridcell" class="slds-text-align--right">
              <span class="slds-checkbox">
                <input type="checkbox" name="options" id="checkbox-127" checked=""/>
                <label class="slds-checkbox__label" for="checkbox-127">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-form-element__label slds-assistive-text">Select item 1</span>
                </label>
              </span>
            </td>
            <th scope="row" data-label="Name">
              <div class="slds-truncate" title="Bob Jones">Bob Jones</div>
            </th>
            <td data-label="Current Address" class="slds-cell-wrap">
              <fieldset class="slds-form-element">
                <div class="slds-form-element__control">
                  <span class="slds-radio slds-border--bottom slds-p-vertical--xxx-small">
                    <input type="radio" id="radio-27" name="options" checked="" />
                    <label class="slds-radio__label" for="radio-27">
                      <span class="slds-radio--faux"></span>
                      <span class="slds-form-element__label">Change
                        <div class="slds-m-left--xx-small" style="display: inline-block; vertical-align: middle;">
                          1999 Broadway #2250
                          </br>Denver, CO 80202
                        </div>
                      </span>
                    </label>
                  </span>
                  <span class="slds-radio slds-border--bottom slds-p-vertical--xxx-small">
                    <input type="radio" id="radio-28" name="options" />
                    <label class="slds-radio__label" for="radio-28">
                      <span class="slds-radio--faux"></span>
                      <span class="slds-form-element__label">Change
                        <div class="slds-m-left--xx-small" style="display: inline-block; vertical-align: middle;">
                          5080 Spectrum Dr #650e
                          </br>Addison, TX 75001
                        </div>
                      </span>
                    </label>
                  </span>
                  <span class="slds-radio slds-p-vertical--xxx-small">
                    <input type="radio" id="radio-29" name="options" />
                    <label class="slds-radio__label" for="radio-29">
                      <span class="slds-radio--faux"></span>
                      <span class="slds-form-element__label">Create new Pending Address
                      </span>
                    </label>
                  </span>
                </div>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td role="gridcell" class="slds-text-align--right">
              <span class="slds-checkbox">
                <input type="checkbox" name="options" id="checkbox-128" />
                <label class="slds-checkbox__label" for="checkbox-128">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-form-element__label slds-assistive-text">Select item 2</span>
                </label>
              </span>
            </td>
            <th scope="row" data-label="Name">
              <div class="slds-truncate" title="Job Bones">Job Bones</div>
            </th>
            <td data-label="Current Address" class="slds-cell-wrap">
              <fieldset class="slds-form-element">
                <div class="slds-form-element__control">
                  <span class="slds-radio slds-p-vertical--xxx-small">
                    <input type="radio" id="radio-32" name="options3" disabled="" />
                    <label class="slds-radio__label" for="radio-32">
                      <span class="slds-radio--faux"></span>
                      <span class="slds-form-element__label">Change
                        <div class="slds-m-left--xx-small" style="display: inline-block; vertical-align: middle;">
                          1999 Broadway #2250
                          </br>Denver, CO 80202
                        </div>
                      </span>
                    </label>
                  </span>
                </div>
              </fieldset>
            </td>
          </tr>
          <tr>
            <td role="gridcell" class="slds-text-align--right">
              <span class="slds-checkbox">
                <input type="checkbox" name="options" id="checkbox-129" />
                <label class="slds-checkbox__label" for="checkbox-129">
                  <span class="slds-checkbox--faux"></span>
                  <span class="slds-form-element__label slds-assistive-text">Select item 3</span>
                </label>
              </span>
            </td>
            <th scope="row" data-label="Name">
              <div class="slds-truncate" title="Job Bones">Bo Jangles</div>
            </th>
            <td data-label="Current Address" class="slds-cell-wrap">
              <fieldset class="slds-form-element">
                <div class="slds-form-element__control">
                  <span class="slds-radio">
                    <input type="radio" id="radio-30" name="options2" disabled=""/>
                    <label class="slds-radio__label" for="radio-30">
                      <span class="slds-radio--faux"></span>
                      <span class="slds-form-element__label">Create new Pending Address
                      </span>
                    </label>
                  </span>
                </div>
              </fieldset>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="slds-modal__footer">
      <button class="slds-button slds-button--neutral">Cancel</button>
      <button class="slds-button slds-button--brand">Save</button>
    </div>
  </div>
</div>
<div class="slds-backdrop slds-backdrop--open"></div>

{% endblock %}
